@page "/waverider/create"

@using AmaraCode.RainMaker
@inject TraderService _traderService
@inject CompanyService _companyService
@inject NavigationManager navigationManager

<div class="block-header">
    Create WaveRider
</div>

<button type="button" @onclick='() => navigationManager.NavigateTo("/waverider/list")'
        class="btn btn-sm btn-primary">
    Back To WaveRiders
</button>

<div class="container">
    <EditForm Model="@newWaveRider" OnValidSubmit="@CreateNewWaveRider">
        <div class="row align-items-start p-3">
            <div class="col">
                <div class="card edit-form  p-2">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="name">Name</label>
                        <InputText id="name" class="form-control" @bind-Value="newWaveRider.Name" />
                    </div>
                    <div class="form-group">
                        <label for="companyname">Company Name</label>
                        <label id="CompanyName" class="form-control">@CompanyName</label>
                    </div>

                    <div class="form-group">
                        <label for="brokername">Select Broker-Api</label>
                        <InputSelect class="form-control" @bind-Value="newWaveRider.CompanyBrokerID">
                            <option>Select Broker - Api</option>
                            @foreach (var item in companyBrokers)
                            {
                                <option value="@item.CompanyBrokerID">@item.BrokerName - @item.Name</option>
                            }
                        </InputSelect>
                    </div>

@*                    <div class="form-group">
                        <label for="accountnumber">Account Number at Broker</label>
                        <InputText id="accountnumber" class="form-control" @bind-Value="newWaveRider.AccountNumber" />
                    </div>*@
                    <div class="form-group">
                        <label for="accountusageamount">Percentage of account to user for trades</label>
                        <InputNumber id="accountusageamount" class="form-control" inputtype @bind-Value="newWaveRider.AccountUsageAmount" />
                    </div>
                    <div class="form-group">
                        <label for="scrapeamount">Weekly Scrape Amount</label>
                        <InputNumber id="scrapamount" class="form-control" @bind-Value="newWaveRider.ScrapeAmount" />
                    </div>
                </div>

                <button type="submit" class="btn btn-sm btn-danger m-2">Save</button>
                <button type="button" @onclick='() => navigationManager.NavigateTo("/waverider/list")' class="btn btn-sm btn-primary m-2">Return to WaveRiders</button>

                
            </div>
            @*2nd Column on first Row*@
            <div class="col">
                <div class="notebox">
                    <ul>
                        <li>This WaveRider will be created with each of the 24 hours set to EUR_USD as a default.  Hours can be modified to change
                        instruments as desired.</li>
                    </ul>
                </div>
            </div>
        </div>

       
    </EditForm>
</div>